DB_HOSTNAME=127.0.0.1
DB_USERNAME={{ postgres_username }}
DB_PASSWORD={{ postgres_password }}
DB_DATABASE_NAME={{ postgres_database }}

REDIS_HOSTNAME=127.0.0.1
REDIS_PORT=6379
REDIS_DBINDEX=0

UPLOAD_LOCATION=/usr/src/app/upload

###################################################################################
# Reverse Geocoding
#
# Reverse geocoding is done locally which has a small impact on memory usage
# This memory usage can be altered by changing the REVERSE_GEOCODING_PRECISION variable
# This ranges from 0-3 with 3 being the most precise
# 3 - Cities > 500 population: ~200MB RAM
# 2 - Cities > 1000 population: ~150MB RAM
# 1 - Cities > 5000 population: ~80MB RAM
# 0 - Cities > 15000 population: ~40MB RAM
####################################################################################

# DISABLE_REVERSE_GEOCODING=false

PUBLIC_LOGIN_PAGE_MESSAGE=

IMMICH_WEB_URL=http://127.0.0.1:3001
IMMICH_SERVER_URL=http://127.0.0.1:3001
IMMICH_MACHINE_LEARNING_URL=http://127.0.0.1:3003

IMMICH_API_URL_EXTERNAL={{ external_url }}
